---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import Landing from "../components/Landing.astro";
import Contacts from "../components/Contacts.astro";

---

<Layout title="Welcome to Astro.">
	<Landing />
	<section id="aboutme" class=""></section>
	<section id="work"></section>
	<section id="sideprojects"></section>
<!--
	<Contacts />
-->
</Layout>

