---
import AboutMeBg from '../../public/aboutme_bg.png'
import AboutMeBorder from '../../public/about_me_border_desktop.svg';
import AboutMeStackBorder from '../../public/aboutme_stack_border.svg';
import { Image } from "astro:assets";
---


<section id="aboutme" class="h-[1344px] relative">
    <div class="pt-[40px] px-[42px] pb-[60px] flex gap-[46px] justify-center">
        <h1 class="text-[45px] text-center header-shadow text-dark_purple relative z-10 uppercase mb-[10px] font-valorax">station 1 :</h1>
        <h1 class="text-[45px] text-center black-text-shadow text-white relative z-10 uppercase mb-[10px] font-valorax">about me</h1>
    </div>
    <div class="'w-full flex justify-center">
        <p class="text-white max-w-[506px] text-[28px] text-shadow text-center relative z-10 flex justify-center">Begin your journey through the stations of our planet, uncovering the essence of the developer behind the scenes.</p>
    </div>
    <Image src={AboutMeBg} class="absolute z-0 mt-[-4rem]" alt="about me bg" />
    <div class="flex justify-center mt-[100px]">
        <Image src={AboutMeBorder} class="max-w-[1481px] max-h-[768px] z-20 relative" alt="about me border" />
        <div class="max-w-[1481px] max-h-[768px] absolute">
            <div class="flex justify-center items-center h-full gap-[70px] w-full">
                <div class="max-w-[487px] max-h-[271px] relative">
                    <Image src={AboutMeStackBorder} class="max-w-[487px] max-h-[271px] absolute" alt="about me stack border" />
                </div>

            </div>
        </div>
    </div>
</section>

<!--
add damn shadows
-->
<style></style>