---

import Car from "../../public/car.png";
import Light from "../../public/light_small.svg";
import Crowd from "../../public/crowd.png";
import Bg from "../../public/bg.png";
import { Image } from 'astro:assets'
---

<section class="relative z-10 lg:max-w-[1920px] hidden lg:block">
    <div class="pt-[80px] px-[42px] pb-[60px] flex gap-[46px] justify-center">
        <h1 class="text-[45px] text-center header-shadow text-dark_blue relative z-10 uppercase mb-[10px] font-valorax">station 4 :</h1>
        <h1 class="text-[45px] text-center text-black white-text-shadow relative z-10 uppercase mb-[10px] font-valorax">Contacts</h1>
    </div>
    <div id="links" class="flex gap-[80px] mx-auto w-full absolute left-[50px] xl:left-[400px] z-1 opacity-0">
        <h1 id="linked" class="text-[60px] text-white header">LinkedId</h1>
        <h1 id="github" class="text-[60px] text-white header">Github</h1>
        <h1 id="email" class="text-[60px] text-white header">Email</h1>
    </div>
    <div class="font-semibold text-center text-white mt-[30px] hidden md:block">
        <p class="mx-auto leading-[32px] text-[28px] max-w-[506px]">
            Doesn’t it look like a disguised entrance to a secret underground club?
        </p>
    </div>
    <div class="flex justify-center">
        <Image id="car" src={Car} alt="car" class="max-w-[1029px] w-full max-h-[634px]" />
    </div>
    <div id="secret" class="font-semibold text-center text-white mx-auto flex justify-center text-[28px] pt-[3rem] relative z-10">
        <p class="max-w-[500px] absolute z-10">Here you will be able to find the ways of  connecting to the person you have been looking for.</p>
    </div>
</section>
<div id="trigger" class="max-h-[1920px] relative z-10 hidden lg:block">
    <div class="w-full h-full flex justify-center relative max-h-[1920px]">
        <Image id="light" src={Light} alt="light" class="lg:max-w-[1303px] max-w-[300px] max-h-[1920px] z-0 absolute top-[-300px] opacity-0 origin-top" />
    </div>
    <div class="h-full relative">
        <Image id="crowd" src={Crowd} alt="light" class="h-[800px] top-[200px] z-10 absolute opacity-0" />
    </div>
    <div class="h-full relative">
        <Image id="bg" src={Bg} alt="bg" class="h-[1000px] z-[-1] opacity-0 absolute" />
    </div>
</div>

<script>
    import { gsap } from "gsap/dist/gsap";

    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
    import { ScrollToPlugin } from "gsap/dist/ScrollToPlugin";
    import { MotionPathPlugin } from "gsap/dist/MotionPathPlugin";

    gsap.registerPlugin(ScrollTrigger,ScrollToPlugin,MotionPathPlugin);

    /*
        gsap.to('#title', {
            yPercent: -10,
            scrollTrigger:  {
                trigger: '#title',
                scrub: true,
            },
        });
    */

    gsap.to('#secret', {
        y: 850,
        opacity: 0,
        duration: 1,
        scrollTrigger:  {
            trigger: '#crowd',
            scrub: true,
            start: "top center",
            end: "+=300px"
        },
    });

    gsap.to('#links', {
        y: 1000,
        opacity: 1,
        duration: 1,
        scrollTrigger:  {
            trigger: '#crowd',
            scrub: true,
            end:"+=300px",
            start: "top center",
        },
    });

    gsap.to('#car', {
        scale: 0.8,
        scrollTrigger:  {
            once: false,
            scrub: true
        },
    });

    gsap.to('#light', {
        opacity: 1,
        duration: 1,
        scrollTrigger: {
            trigger: '#light',
            start: 'top center',
            scrub: true,
            end:"+=50px"
        }
    });

    gsap.to('#light', {
        scaleY: 1.6,
        scaleX: 2.5,
        duration: 1,
        scrollTrigger: {
            trigger: '#crowd',
            start: 'top center',
            scrub: true,
            end:"+=50",
        }
    });

    gsap.to('#crowd', {
        opacity: 1,
        duration: .5,
        scrollTrigger: {
            trigger: '#crowd',
            start: 'top bottom',
            scrub: true,
            end: "+=50px"
        }
    });

    gsap.to('#bg', {
        opacity: .3,
        duration: .5,
        scrollTrigger: {
            trigger: '#crowd',
            start: 'top bottom',
            scrub: true,
        }
    });

</script>

<style>
    h1 {
        font-family: 'valorax', sans-serif;
    }
    .header  {
        text-shadow: -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff;
    }
    .header-shadow {
        text-shadow: -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff;
    }
</style>
