---
import LandingBg from "../../public/landing_bg.jpg";
import { Image } from 'astro:assets'
interface Props { }

---
<section id="landing" class="pb-[163px] relative h-[1000px]">
    <Image src={LandingBg} alt="landing" class="absolute opacity-50 h-full w-full" />
    <div class="pt-[145px]">
        <h1 class="font-bold text-[45px] text-center text-white relative z-10">hi, my name is bekjon and i’m a</h1>
        <h2 class="text-[#A092E1] text-[105px] text-center font-valorax relative z-10">Software Engineer</h2>
    </div>
</section>

<style>

</style>
