---
import LandingBg from "../../public/landing_bg.jpg";
import { Image } from 'astro:assets'
import Moon from '../../public/moon.png';
import MobileNav from "./react/MobileNav";
import DesktopNavigation from "./DesktopNavigation.astro";
import MobileNavigation from "./MobileNavigation.astro";

interface Props { }
---

<section id="landing" class="pb-[110px] relative max-h-[1200px]">
    <Image src={LandingBg} alt="landing" class="absolute opacity-50 z-[-10] max-h-[1200px] h-full w-full hidden lg:block" />
    <MobileNav client:load />
    <div id="header" class="md:pt-[40px] pt-[30px] px-[42px] pb-[60px]">
        <h1 class="font-bold text-[16px] md:text-[30px] lg:text-[45px] text-center header-shadow text-white relative z-10 uppercase mb-[10px] lg:mb-0">hi, my name is bekjon and i’m a</h1>
        <h2 class="text-[#A092E1] text-[32px] md:text-[80px] lg:text-[105px] text-shadow text-center font-valorax relative z-10">Software Engineer</h2>
    </div>
    <div class="flex xl:px-[30px] 2xl:px-[180px] px-0 md:px-[30px] justify-start flex-col-reverse items-center lg:items-start lg:flex-row gap-[30px] 2xl:gap-[60px]">
        <div id="landing_text" class="flex flex-col flex-1 relative z-10 max-w-[300px] xl:max-w-[420px] justify-end">
            <p class="text-white lg:text-left mb-[23px] lg:mb-[50px] text-[16px] md:text-[20px] xl:text-[28px] text-center">Begin your journey through the stations of our planet, uncovering the essence of the developer behind the scenes.</p>
            <button class="border-dark_purple mb-[25px] border-[2px] lg:max-w-[230px] text-[20px] md:text-[30px] xl:text-[30px] cv-btn font-valorax text-dark_purple py-[20px]">Cv</button>
            <button id="expBtn" class="border-dark_purple mb-[25px] border-[2px] lg:max-w-[280px] md:text-[30px] xl:text-[30px] cv-btn font-valorax bg-dark_purple text-black py-[20px]">Experience</button>
        </div>
        <div class="flex justify-center lg:justify-center md:items-center relative flex-1 lg:max-[600px] xl:max-w-[900px]">
            <Image id="moon" src={Moon} alt="moon" class="max-w-[260px] max-h-[260px] md:max-w-[460px] md:max-h-[460px] 2xl:max-w-[640px] 2xl:max-h-[640px] z-10 lg:mr-[-8rem]" />

            <DesktopNavigation />
            <MobileNavigation />

            <svg class="hidden md:block lg:h-[460px] md:w-[300px] md:h-[400px] md:ml-[-4rem] lg:ml-0 2xl:w-full 2xl:h-[639px]" width="272" height="639" viewBox="0 0 272 660" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_94_301)">
                    <path id="arc" fill-rule="evenodd" clip-rule="evenodd" d="M10 649.987C153.919 616.178 261.143 485.923 261.143 330.396C261.143 174.869 153.919 44.6137 10 10.8043V14.9163C151.67 48.6454 257.143 177.067 257.143 330.396C257.143 483.724 151.67 612.146 10 645.875V649.987Z" fill="#CFC5FF"/>
                </g>
                <defs>
                    <filter id="filter0_d_94_301" x="0" y="0.804321" width="271.143" height="659.183" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset/>
                        <feGaussianBlur stdDeviation="5"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.81373 0 0 0 0 0.773611 0 0 0 0 1 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_94_301"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_94_301" result="shape"/>
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
</section>

<script>
    const l1 = document.getElementById('m1');
    const l2 = document.getElementById('m2');
    const l3 = document.getElementById('m3');
    const l4 = document.getElementById('m4');
    const expBtn = document.getElementById('expBtn');

    l1.addEventListener('click', function() {
        document.getElementById('aboutme').scrollIntoView({ block: 'start', inline:'nearest', behavior: 'smooth' });
    })

    l2.addEventListener('click', function() {
        document.getElementById('work').scrollIntoView({ block: 'start', inline: 'nearest', behavior: 'smooth' });
    })

    l3.addEventListener('click', function() {
        document.getElementById('side_projects').scrollIntoView({ block: 'start', inline: 'nearest', behavior: 'smooth' });
    })

    l4.addEventListener('click', function() {
        document.getElementById('contacts').scrollIntoView({ block: 'start', inline: 'nearest', behavior: 'smooth' });
    })

    expBtn.addEventListener('click', function () {
        document.getElementById('work').scrollIntoView({ block: 'start', inline: 'nearest', behavior: 'smooth' });
    })

</script>

<script>
    import { gsap } from "gsap/dist/gsap";

    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
    import { ScrollToPlugin } from "gsap/dist/ScrollToPlugin";
    import { MotionPathPlugin } from "gsap/dist/MotionPathPlugin";

    gsap.registerPlugin(ScrollTrigger,ScrollToPlugin,MotionPathPlugin);

    const timeline = gsap.timeline();
    timeline.fromTo("#header", { y: -200 }, {
        y: 0,
        duration: 1,
        ease: "power1.inOut",
    })
    .fromTo("#mobile_menu", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo("#moon", { scale: 0.5, opacity: 0 }, {
        delay: 0,
        scale: 1,
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo('#m1', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m2', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m3', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m4', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo("#arc", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo("#landing_text", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .to("#l1", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.4,
            offsetX: 25
        },
        transformOrigin: "50% 50%",
        duration: 1,
        opacity: 1,
    }, ">")
    .to("#l2", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.3,
            offsetX: 25
        },
        opacity: 1,
        transformOrigin: "50% 50%",
        duration: 1,
    }, "<")
    .to("#l3", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.2,
            offsetX: 40
        },
        opacity: 1,
        duration: 1,
    },"<")
    .to("#l4", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [-.5, 1],
            start: 0,
            end: 0.1,
            offsetX: 40
        },
        opacity: 1,
        duration: 1,
    }, "<");
</script>


<style>
    .text-shadow {
        text-shadow: 0 0 10px #D0C5FF;
    }
    .header-shadow {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .cv-btn {
        box-shadow: 0 0 10px #D0C5FF;
    }
</style>